body {
    color: #fff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
   BUTTONS
====================== */
.btn {
    display: inline-block;
    text-align: center;
    padding: 14px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 320px;
    margin-bottom: 15px;
}
.primary {
    background: #1d9bf0;
    color: #fff;
    border: none;
}
.primary:hover {
    background: #1a8cd8;
}
.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid #555;
}
.secondary:hover {
    background: #111;
}

/* ======================
   FORM
====================== */
.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    border: thin solid #1a8cd8;
}
.form-container input, select, textarea {
    width: 100%;
    padding: 12px;
    border: thin solid #cadaf5;
    border-radius: 15px;
    outline: none;
    margin: 8px auto;
}
textarea {
    height: 100px;
}
.form-container input:focus {
    border: thin solid #1a8cd8;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}
label {
    color: #777676;
}
.form-container .btn {
    width: 100%;
    margin: 10px auto;
}
.form-container a {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.form-container p {
    text-align: center;
    margin: 20px;
}
.submit {
    background-color: #1a8cd8;
    color: white;
    text-transform: uppercase;
    border: thin solid #1a8cd8;
}

/* ======================
   LANDING
====================== */
.landing {
    display: flex;
    height: 100vh;
    background: #000;
}
.landing-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}
.landing-child {
    flex: 1;
    align-items: center;
}
.landing-child img {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.landing-child h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 20px;
}
.landing-child h2 {
    font-size: 32px;
    margin-bottom: 30px;
}
.landing-child fieldset {
    width: 325px;
    border-left:  transparent;
    border-right:  transparent;
    border-bottom:  transparent;
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
}

/* ======================
   SIGNUP
====================== */
.logo {
    width: 50%;
    text-align: center;
    margin: auto;
}
.logo img {
    width: 100%;
}